.contact_list{
    display: flex;
}

@media (min-width: 481px){
    /* desktop, Ipad */   
    .contact_list{
        width: 70%;
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    /* mobile */
    .contact_list{
        width: 100%;
    }    
}