.header{
    display: flex;
    align-items: center;
    background: hsl(283, 58%, 51%);
    color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
    z-index: 99;
}
.headerTitle{
    padding: 0 0.2em;
    width:30%;
}

@media (min-width: 481px){
    /* desktop, Ipad */   
      
        
    }
    
    
    @media (min-width: 320px) and (max-width: 480px) {
    /* mobile */
        
    }